<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('party_sunset.jpg') %>);">
  <div class= "container">
    <div class= "row">
      <div class= "col-12 col-md-8 col-lg-6">
        <h1> MEET AND FUN </h1>
        <p>Enjoy and split the bill ! </p>
        <%= form_tag experiences_path, method: :get, class: 'row' do %>
          <div class="col-12 col-md-10">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Tapez un lieu" %>
          </div>
          <div class="col-12 col-md-2">
              <%= submit_tag "Search", class: "btn btn-red" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class= "row mt-3">
    <h3>Les dernières expériences publiées</h3>
      <%= render "/experiences/cards_last"%>
        <button class="btn-red mt-3">
            <%= link_to "Voir toutes les expériences", experiences_path %>
        </button>
  </div>
</div>
