<h1><%= @experiences.count %> Experiences</h1>

<ul>
  <% @experiences.each do |experience| %>
  <li>
    <p><%= experience.name %></p>
    <p><%= experience.price %>€</p>
    <p><%= experience.date %></p>
    <%= link_to 'see more', experience_path(experience) %>
  </li>
  <% end %>
</ul>

<%= link_to 'accueil', root_path %>
