<div class="header-banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('martinique.jpg') %>);">>

 <div class= "container">
    <div class= "row">
      <div class= "text-center" >
        <h1> Meet&Fun vous propose
        <br>
        <%= @experiences.count %> expériences en Martinique </h1>
      </div>
   </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="title">
    <h3> Les dernières expériences publiées </h3>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @experiences_last.each do |experience| %>
      <div class="card-experience">
        <img src="" alt="">
        <div class="card-experience-infos">
          <div>
            <h2><%= experience.name %></h2>
          </div>
          <h2 class="card-experience-pricing"><%= experience.price %> €</h2>
        </div>
      </div>
    <% end %>
  </div>
  <br>
   <button class="btn-red"> Voir plus </button>
</div>
<br>
<div class="container mt-3 mb-3">
  <div class="title">
    <h3> Les plus populaires </h3>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @experiences.each do |experience| %>
      <div class="card-experience">
        <img src="" alt="">
        <div class="card-experience-infos">
          <div>
            <h2><%= experience.name %></h2>
          </div>
          <h2 class="card-experience-pricing"><%= experience.price %> €</h2>
        </div>
      </div>
    <% end %>
  </div>
  <br>
   <button class="btn-red"> Voir plus </button>
</div>
