<div class="header-banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('martinique.jpg') %>);">
 <div class= "container">
    <div class= "row">
      <div class= "text-center" >
        <h1> Meet&Fun vous propose
        <br>
        <%= @experiences.count %> expériences en Martinique </h1>
      </div>
   </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="title">
    <h3> Les dernières expériences publiées </h3>
      <%= render "cards_last"%>
      <br>
      <button class="btn-red"> Voir plus
      </button>
    </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="title">
    <h3> Les plus populaires </h3>
      <%= render "cards_first"%>
      <br>
      <button class="btn-red"> Voir plus
      </button>
    </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="title">
    <h3> Last minute </h3>
      <%= render "cards_lastminute"%>
      <br>
      <button class="btn-red"> Voir plus
      </button>
    </div>
  </div>
</div>
