<div class="background-form">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <h3><strong>Ajoutez votre expérience</strong></h3>
        <%= simple_form_for(@experience) do |f| %>
          <%= f.input :name, label: false, placeholder: 'Enter the new event' %>
          <%= f.input :address, label: false, placeholder: 'Enter the address' %>
           <%= f.input :photo, as: :file, placeholder: 'Enter your picture'%>
          <%= f.input :date, html5: true, label: false %>
          <%= f.input :description, label: false, placeholder: 'Enter the description'%>
          <%= f.input :capacity, label: false, placeholder: 'Enter the capacity' %>
          <%= f.input :price, label: false, placeholder: 'Enter the price in €' %>
          <%= f.submit class: 'btn btn-red' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
