

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @experience.photo.key, height: 300, width: 400, crop: :fill %>);">

  <h1 class="display-3 text-center"><%= @experience.name %></h1>
</div>

<div class="container md-1 mb-4">
  <div class="row mt-4">

    <div class="col-8">
      <h3>Au programme</h3>
      <p class="p-2"><%= @experience.description %></p>
      <p> Expérience organisée par : Dylan </p>
      <% if @actual_capacity  >= 0 %>
      <p class="p-2">Nombres de participants autorisé : <%= @capacity %>  <br> Nombre de places disponibles : <%= @actual_capacity %> </p>
      <% else %>
       <p> Il n'y a plus de place pour cette experience</p>
      <% end %>

    </div>

    <div class="col-4">
      <h3>Plus d'infos </h3>
      <br>
      <p>  Lieu : <%= @experience.address %></p>
       <p>  Date : <%= @experience.date.to_time.strftime('%e %B %Y')%></p>
       <p>  Horaire : 10h </p>
      <%= link_to 'Réserver', experience_bookings_path(@experience), class: 'btn-red btn-lg', method: :post %>
       </button>
  </div>


<div class="container">
  <div class="title">
    <h3> Expériences disponibles cette semaine </h3>
  <div class="cards">
    <% @experiences_lastminute.each do |experience| %>
      <%= link_to experience_path(experience) do %>
        <div class="card-experience">
         <%= cl_image_tag experience.photo.key, alt: '' %>
          <div class="card-experience-infos">
            <div>
              <h2><%= experience.name %></h2>
            </div>
            <h2 class="card-experience-pricing"><%= experience.price %> €</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
